<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Log in</ion-title>
  </ion-navbar>

</ion-header>
-->


<ion-content padding>


  <div *ngIf="redirectTo()"> </div>
  <div padding [@flyInBottomFast]="cloudState" id="cloud-layer">
  <!-- <div *ngIf="redirectTo()"> </div> -->
  <ion-row>
    <ion-col>
      <img [@flyInBottomSlow]="logoState" src="assets/images/joshuamorony.png" />
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <button ion-button (click)="loginWithGoogle()" class="down-slash-button">
        <ion-icon name="logo-google"></ion-icon>
        &nbsp; Log In With Google
      </button>
    </ion-col>
  </ion-row>



</div>

</ion-content>
